$cd-box: rgb(231, 247, 246);
$cd-txt: #6300a0;
$cd-danger: #b20a37;

$shake-intensity: 1%;
$shake-quantity: 2;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    background: #fff;
    color: $cd-txt;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: 200ms;

.load {
    width: $size * 10;
    height: $size* 7.5;
    display: flex;
    justify-content: space-evenly;
    &:not(:last-child) {
        margin-bottom: $size*-2;
    }
    &__bar {
        background-color: #15DEA5;
        height: 100%;
        width: $size;
        // border-radius: $size *.05;
        // display: inline-block;
        animation: bars $anim-dur ease-in-out both;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
                animation-fill-mode: both;
            }
        }
        @for $i from 1 through 5 {
            &--#{$i + 5} {
                animation-direction: alternate-reverse;
                background: pink;
                animation-delay: $anim-delay * $i + (random(100)*10ms);
                
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}

  
@keyframes bars {
    0% { 
        transform: scaleY(0.5);
    }  
    100% { 
        transform: scaleY(1.0);
    }
}
