$cd-box: rgb(231, 247, 246);
$cd-txt: #6300a0;
$cd-danger: #b20a37;

$shake-intensity: 1%;
$shake-quantity: 2;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    background: #fff;
    color: $cd-txt;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100vh;
    height: 25vh;
    position: relative;
    overflow: hidden;
    background: $cd-box;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__mssg {
        margin-left: 2.5rem;
        padding-top: .5rem;
        overflow: hidden;
        
        & span {
            display: inline-block;
            transform: translateY(-75%);
            opacity: 0;
        } 
    }
    &__group {
        width: 75%;
        transform: translateY(-10%);
        & label {
            display: block;
            font-size: 1.5rem;
            margin-left: 2.5rem;
        }
        & input {
            width: 100%;
            font-size: 2.5rem;
            font-family: 'Montserrat', sans-serif;
            border: 2px solid $cd-box;
            border-radius: 100rem;
            padding: .5rem 1.5rem;
            outline: none;
            color: $cd-txt;
            &:active, &:focus {
                border: 2px solid $cd-txt;
            }
            &:not(:focus):invalid {
                color: white;
                border: 2px solid $cd-danger;
                background: $cd-danger;
                animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) $shake-quantity;
            }
        }
    }
}

@keyframes headshake {
    25% {
        transform: translateX($shake-intensity);
    }
    75% {
        transform: translateX(-$shake-intensity);
    }
}