*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: #fff;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load {
  width: 75vw;
  height: 17vw;
  position: relative;
  overflow: hidden;
}
.load__txt {
  color: #E5DFC6;
  position: relative;
  padding: .5vw 8vw;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(33%, 1fr));
  align-items: center;
  font-size: 6rem;
  transform: translateX(-100%);
  animation: slide-in 0.6s cubic-bezier(0.65, 0.38, 0.23, 1) 0.25s forwards;
}
.load__bg {
  background: #12120E;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 0.332s forwards;
}
.load__bg--accent {
  background: #E5DFC6;
  right: 70vw;
  animation: slide-in 0.25s cubic-bezier(0.65, 0.38, 0.23, 1) 0.48s forwards;
}
.load__bg--trans-a {
  background: #E5DFC6;
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 0s forwards;
}
.load__bg--trans-b {
  background: #40567B;
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 0.083s forwards;
}
.load__bg--trans-c {
  background: #E5DFC6;
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 0.166s forwards;
}
.load__bg--trans-d {
  background: #40567B;
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 0.249s forwards;
}

.slide-a {
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 0 forwards;
}

.slide-b {
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 1s forwards;
}

.slide-a {
  animation: slide-in 0.4667s cubic-bezier(0.65, 0.08, 0.81, 0.52) 0 forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
