*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: #12120E;
  color: #fff;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2:not(:first-child) {
  margin-top: 2rem;
}

.frame {
  width: 85vw;
  height: 8vw;
  border: 1px solid #E5DFC6;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.frame__width {
  width: 100%;
  animation-name: ping-pong;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.frame__width--easyease, .frame__width .frame__box {
  animation-timing-function: ease-in-out;
}
.frame__width--linear, .frame__width .frame__box {
  animation-timing-function: linear;
}
.frame__width--cubic, .frame__width .frame__box {
  animation-timing-function: cubic-bezier(0.69, 0.3, 0.13, 1);
}
.frame__box {
  background: #E5DFC6;
  width: 4vw;
  height: 4vw;
  transform-origin: 0% 50%;
  animation-name: box-pivot;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ping-pong {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes box-pivot {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
