*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: #fff;
  color: #6300a0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spin {
  background-color: #15DEA5;
  width: 30vh;
  height: 30vh;
  animation: spin 3s linear infinite paused;
}
.spin:hover {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  background-color: #15DEA5;
  height: 100%;
  width: 3vh;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--1-inv {
  animation-delay: 200ms;
  animation-direction: alternate-reverse;
  background: #0E397F;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--2-inv {
  animation-delay: 400ms;
  animation-direction: alternate-reverse;
  background: #0E397F;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--3-inv {
  animation-delay: 600ms;
  animation-direction: alternate-reverse;
  background: #0E397F;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--4-inv {
  animation-delay: 800ms;
  animation-direction: alternate-reverse;
  background: #0E397F;
}
.load__bar--5 {
  animation-delay: 1000ms;
}
.load__bar--5-inv {
  animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  background: #0E397F;
}
.load__bar--6 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 200ms;
}
.load__bar--6:hover {
  animation-play-state: paused;
}
.load__bar--7 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 400ms;
}
.load__bar--7:hover {
  animation-play-state: paused;
}
.load__bar--8 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 600ms;
}
.load__bar--8:hover {
  animation-play-state: paused;
}
.load__bar--9 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 800ms;
}
.load__bar--9:hover {
  animation-play-state: paused;
}
.load__bar--10 {
  animation-direction: alternate-reverse;
  background: pink;
  animation-delay: 1000ms;
}
.load__bar--10:hover {
  animation-play-state: paused;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
