
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    background: #fff;
    color: $cd-txt;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
