*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    background: $cd-body;
    // color: #fff;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    // flex-wrap: wrap;
    
}
