$cd-primary: #011c37;
$cd-shadow: rgba(1, 28, 54, 0.08);
$cd-secondary: #15DEA5;
$cd-heading: #69CBD8;
$cd-btn: #69CBD8;
$cd-btn-txt: #FAE8F1;
$cd-bg: #FAE8F1;
$cd-section: #fff;

$dur: 1000ms;
$shadow-size: .33rem;
$width: 37vh;
$height: 75vh;