.btn {
    background: $cd-btn;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    // transition-property: transform;
    // transition-duration: 400ms;
    // transition: transform 400ms;
    &:hover {
        // transform: scale(1.13);
        animation: grow 400ms;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.13);
    }
}
