.btn {
    background: $cd-hover;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    position: relative;
    & span {
        position: relative;
        z-index: 1;
    }
    &::before {
        border-radius: 10rem;
        content: "";
        background: $cd-inactive;
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 400ms;
    }
    &:hover::before {
        opacity: 0;
    }
    &:active + .ball{
        transform: scale(1);
    }
}


.ball {
    width: $ball-size;
    height: $ball-size;
    background: $cd-hover;
    margin-bottom: 1rem;
    border-radius: $ball-size * 0.5;
    transform: scale(.1);
    transition: transform 4s;
}