.btn {
    border: 4px solid $cd-btn;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    position: relative;
    transition: transform 450ms, background-color 300ms 150ms;
    overflow: hidden;
    background-color: $cd-btn-start;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $cd-btn;
        border-radius: 10rem;
        z-index: -1;
        transform: scale(0);
        transition: transform 150ms;
    }

    &:hover {
        transform: scale(1.13);
        background-color: $cd-btn-end;
    }
}

